.tyche-product .tyche-product-image {
  @include flex();
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  @media #{$info-tablet} {
    height: 150px;
  }
}

.woocommerce div.product form.cart .variations {
  table-layout: auto;
  td.label {
    width: 80px;
  }
  select {
    min-width: 50%;
  }
}

.woocommerce .woocommerce-variation-price .woocommerce-Price-amount {
  margin-bottom: 0;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button,
.woocommerce div.product form.cart button.single_add_to_cart_button:not(.pswp__button):not(.customize-partial-edit-shortcut-button) {
  margin-top: 20px;
  border: 2px solid;
  border-color: #F66249;
  border-radius: 3px;
  background: #F66249;
  color: #FFF;
  font-size: 15px;
  padding: 8px 20px;
}

.woocommerce button.button,
.woocommerce button.single_add_to_cart_button:not(.pswp__button):not(.customize-partial-edit-shortcut-button) {
  margin-top: 20px;
}

// custom summany product
.woocommerce div.product div.summary {
  border: 1px solid $border-color;
  padding: 15px;
  .product_title {
    font-size: 1.25rem;
    @include custom-title();
    margin-bottom: 20px;
  }
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  .flex-viewport {
    margin-bottom: 20px;
    .woocommerce-product-gallery__image a {
      display: block;
      padding: 5px;
      border: 1px solid $border-color;
      overflow: hidden;
      //padding: 5px;
    }
  }
}

.woocommerce div.product div.images .flex-control-thumbs li {
  padding: 5px;
  img {
    border: 1px solid $border-color;
  }
}

.text-center {
  text-align: center;
}

//.content-area-1 {
//  .tyche-products {
//    border: 1px solid $border-color;
//    padding: 0 15px 15px;
//    .widget-title {
//      margin-top: 10px;
//    }
//  }
//}

.woocommerce .woocommerce-products-header__title.page-title {
  text-transform: none;
  font-size: 2rem;
  margin: 0 0 0.67em;
  @media #{$info-phone} {
    margin-top: 20px;
  }
}

.woocommerce .tyche-has-sidebar .woocommerce-result-count {
  @media #{$info-phone} {
    width: 100%;
  }
}

.tyche-product .button {
  @media #{$info-phone} {
    font-size: 12px;
    padding: 8px 0;
    display: block;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  @media #{$info-phone} {
    a {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
}

.woocommerce div.product .woocommerce-tabs .wc-tab {
  @media #{$info-phone} {
    padding-bottom: 20px;
    h2 {
      font-size: 18px;
      line-height: 1.2;
    }
    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}

.single-product div.product form.cart .quantity input {
  @media #{$info-phone} {
    width: 25px;
  }
}

.no-products {
  line-height: 1.2;
}

.tyche-product-body {
  h3 {
    font-size: 1rem;
    @media #{$info-phone} {
      font-size: 1rem;
    }
  }
  .price {
    font-size: 1rem;
    del {
      color: #a2a2a2;
    }
    ins {
      color: #242424;
    }
    .sale-percent {
      color: #FF3B26;
      font-size: 0.8rem;
      margin-left: 5px;
      @media #{$info-tablet} {
        display: block;
        font-size: 1rem;
      }
    }
  }
}

.zen-homepage-block-product {

  .custom-category-block {
    margin-bottom: 40px;
    .clearfix {
      @include flex();
      @media #{$info-phone} {
        flex-direction: column;
      }
    }
    .top-cate-wrap {
      height: 100%;
      margin-top: -2%;
    }
    .top-cate {
      height: 47%;
      margin-top: 2%;
      margin-bottom: 2%;
      a.item {
        height: 100%;
        @include flex();
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border: 1px solid #ccc;
        &:hover {
          .img-hover img {
            @include css3-prefix(transform, scale(1.2));
          }
        }
        .img-hover {
          img {
            @include css3-prefix(transition, .5s);
          }
        }
        p {
          position: absolute;
          margin-bottom: 0;
          bottom: 0;
          left: 0;
          text-align: center;
          width: 100%;
          font-size: 0.875rem;
          background-color: rgba(255,255,255,.8);
        }

      }
    }
  }

  .block-slide-product-wrap {
    > a > h3 {
      font-size: 1.25rem;
      margin-bottom: 10px;
      margin-top: 0;
    }

  }
  .block-slide-product {
    .owl-nav {
      position: absolute;
      top: 20%;
      width: 100%;
      .owl-prev, .owl-next {
        width: 33px;
        height: 33px;
        line-height: 33px;
        background-color: #eee;
        color: #555;
        opacity: .8;
        border-radius: 100%;
        font-size: 1.7rem;
        text-align: center;
        &:hover {
          background: #555;
          color: #fff;
        }
      }
      .owl-prev {
        float: left;
      }
      .owl-next {
        float: right;
      }
    }
  }

}

.woocommerce div.product .woocommerce-tabs {
  margin-bottom: 50px;
}

.woocommerce div.product .woocommerce-tabs .wc-tab {
  padding-top: 20px;

  h2 {
    display: none;
  }
}

.tyche-product .tyche-product-image img {
  width: 60%;
}

.tyche-product .tyche-product-image span.onsale {
  z-index: 1;
}

@media (min-width: 768px) {
  .search-page {
    &.woocommerce .tyche-has-sidebar ul.products li {
      &.product {
        width: 23.5%;
        margin: 0 2% 2.992em 0;

      }
      &.first {
        clear: initial;
      }
      &.last {
        margin-right: 2%;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-child(4n + 1) {
        clear: both;
      }
    }
  }
}

.woocommerce-cart-form {
  .product-quantity {
    .styled-number {
      display: inline-block;
    }
    .arrow-down, .arrow-up {
      display: none;
    }
  }
}

// remove mail on head
.top-header-bar-container {
  .top-email {
    display: none;
  }
}

.content-area-1 h1 span:before,
.content-area-1 h2 span:before,
.content-area-1 h3 span:before,
.content-area-1 h4 span:before,
.content-area-1 h5 span:before,
.content-area-1 h6 span:before,
.content-area-2 h1 span:before,
.content-area-2 h2 span:before,
.content-area-2 h3 span:before,
.content-area-2 h4 span:before,
.content-area-2 h5 span:before,
.content-area-2 h6 span:before,
.content-area-3 h1 span:before,
.content-area-3 h2 span:before,
.content-area-3 h3 span:before,
.content-area-3 h4 span:before,
.content-area-3 h5 span:before,
.content-area-3 h6 span:before,
.content-area-4 h1 span:before,
.content-area-4 h2 span:before,
.content-area-4 h3 span:before,
.content-area-4 h4 span:before,
.content-area-4 h5 span:before,
.content-area-4 h6 span:before,
.content-area-5 h1 span:before,
.content-area-5 h2 span:before,
.content-area-5 h3 span:before,
.content-area-5 h4 span:before,
.content-area-5 h5 span:before,
.content-area-5 h6 span:before {
  width: calc(100% + 10px);
  bottom: -5px;
}

.woocommerce .woocommerce-info {
  width: 100%;
  display: block;
  &:before {
    top: 50%;
    @include css3-prefix(transform, translateY(-50%));
  }
}

.woocommerce div.product div.images img {
  max-width: 60%;
  margin: auto;
}

.pswp--animated-in .pswp__bg, .pswp--animated-in .pswp__zoom-wrap {
  opacity: .8 !important;
}

.item .tyche-product .tyche-product-image {
  overflow: hidden;
  img {
    @include css3-prefix(transition, .3s)
  }
  &:hover {
    img {
      @include css3-prefix(transform, scale(1.1));
    }
  }
}


.single-product.woocommerce div.product p.price {
  .sale-percent {
    color: #FF3B26;
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

// null product

.null-product-archive {
  .custom-filter-mobile {
    display: none;
  }
}